<div class="right_col" [style.height.px]="screenHeight-51" role="main">
    <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
        {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
    </button>
    <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Existing Customer?</ng-template>
                <mat-form-field style="width:400px;">
                    <h2 matInput fromControlName="firstCtrl">Are you an existing customer?</h2>
                    <input matInput style="display:none;" formControlName="firstCtrl">
                    <button mat-button matStepperNext (click)="existingCustomerCheck(true)">Yes</button>
                    <button mat-button matStepperNext (click)="existingCustomerCheck(false)">No</button>
                </mat-form-field>
            </form>
        </mat-step>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Find/Create Customer</ng-template>
                <h2>Enter your phone number</h2>
                <mat-form-field>
                    <mat-label>Phone Number</mat-label>
                    <input matInput formControlName="firstCtrl" [(ngModel)]="customerPhoneNumber" required>
                </mat-form-field>
                <div>
                    <button mat-raised-button matStepperNext (click)="searchCustomer()">Continue</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Verify Customer Info</ng-template>
                <h2>Does this match?</h2>
                <mat-form-field style="width:450px;">
                    <input matInput style="display:none;" formControlName="firstCtrl">
                    <h2>{{existingCustomer.first_name + ' ' + existingCustomer.last_name}}</h2>
                </mat-form-field>
                <div>
                    <button mat-raised-button matStepperNext>Yes</button>
                    <button mat-raised-button matStepperNext>No</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Search Recipient</ng-template>
                    <mat-form-field style="width:300px;">
                        <mat-label>Phone Number</mat-label>
                        <input matInput formControlName="secondCtrl" [(ngModel)]="recipientPhoneNumber" required>
                    </mat-form-field>
                    <div>
                        <button mat-raised-button matStepperPrevious>Back</button>
                        <button mat-raised-button matStepperNext (click)="searchRecipient()">Next</button>
                    </div>
                </form>
            </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Verify Recipient Info</ng-template>
                <h2>Does this match?</h2>
                <mat-form-field style="width:450px;">
                        <input matInput style="display:none;" formControlName="secondCtrl">
                        <h2>{{existingRecipient.first_name + ' ' + existingRecipient.last_name}}</h2>
                </mat-form-field>
                <div>
                    <button mat-raised-button matStepperPrevious>Back</button>
                    <button mat-raised-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Transaction Details</ng-template>
                    <mat-form-field style="width: 450px;">
                        <mat-label>Amount to send</mat-label>
                        <input matInput formControlName="secondCtrl" [(ngModel)]="newTransactionAmount" required>
                    </mat-form-field>
                    <div>
                        <button mat-raised-button matStepperPrevious>Back</button>
                        <button mat-raised-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>Create Transaction</p>
            <div>
                <button mat-raised-button matStepperPrevious>Back</button>
                <button mat-raised-button (click)="createTransaction()">Create</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>

</div>